language: python
python:
  - "3.6"
#   - "3.7"
  - "3.8"
  - "3.9"
  - "3.10"
before_install:
  - pip install coverage
script: coverage run -m pytest
after_success:
  - bash <(curl -s https://codecov.io/bash)
