name: Python Linter

on:
  pull_request:
  push:

permissions:
  contents: read
  pull-requests: write

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5

      - name: Run pre-commit
        uses: j178/prek-action@v1
