name: Upload Python Package

on:
  release:
    types: [created]

permissions:
  contents: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: github.event_name == 'release'
    steps:
    - name: Check out repository
      uses: actions/checkout@v5

    - name: Get the tag name for the release
      id: vars
      shell: bash
      run: |
        tag="${GITHUB_REF#refs/*/}" # refs/tags/1.2.3 -> 1.2.3
        echo "tag=$tag" >> $GITHUB_OUTPUT

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        version: latest
        python-version: '3.13'
        enable-cache: true

    - name: Install project
      run: uv sync --all-extras

    - name: Build package
      shell: bash
      run: uv build

    - name: Upload built packages to release
      shell: bash
      run: |
        gh release upload "${{ steps.vars.outputs.tag }}" dist/* --clobber
      env:
        GH_TOKEN: ${{ github.token }}

    - name: Publish to PyPI
      shell: bash
      run: uv publish
      env:
        UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
